<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>GitHub demo</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/paginator.css">
  <meta name="viewport" content="width=device-width">
</head>
<body>
  <div id="content">
    <h1>GitHub demo</h1>
    <p><a href="?page=search">Vyhledávání</a> | <a href="?page=history_view">Historie</a> | <a href="?page=history_delete">Smazat historii</a></p>