<h2>Vyhledávání</h2>
<form action="index.php" method="POST">
Jméno uživatele:
  <input type="text" name="username" maxlength="50">
  <input type="submit" text="Vyhledat">
  <input type="hidden" name="page" value="search">
</form>